header{
    /* border:6px solid blue; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    gap:6%;
}

.logo{
    margin-left:7%;
    cursor: pointer;
}
header .logo img{
    width: 60px;
    height:50px
}
.icons{
    display: flex;

    flex-direction: row;
    gap:12%;
}
.icons div{
    padding:15px;
    border-radius: 12px;
    cursor: pointer;

}
.icons div:hover{
    background-color: rgb(212, 203, 203);
}
header input{
    padding:10px;
    border-radius: 12px;
    font-weight: 700;
    font-size:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:3px solid grey
}
header .message{
margin-left:10%;
background-color: rgb(212, 203, 203);
padding:20px;
border-radius: 12px;
display: flex;
justify-content: center;
align-items: center;
}
.white-icon{
    color:grey;
    cursor: pointer;
}
.profile img{
    width:50px;
    height:50px;
    border-radius: 48%;
    cursor: pointer;
}
.profile{
    display: flex;
    justify-content: center;
    background-color: grey;
    border-radius: 13px;
    text-align: center;
    /* padding:4px; */
    /* gap:10px; */
    color:white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width:1%; */
    align-items:center;
    gap:10%;
    max-height:40px;
    
}

body{
    margin:0px;
    padding:0px;
}
header{
    border-top:none;
    border-bottom:2px solid grey;
    height:80px;
}

@media screen and (max-width:600px){
    header .icons{
        display: none;
    }
    
    header .message{
        margin-left:auto;
        /* margin-right:1%; */
        width:13%;
        height:43px;
        padding:0px;
        /* border:1px solid red; */
        
    }
    .white-icon{
        color:black
    }
    .logo{
        margin-left:0px;
        /* border:2px solid red; */
        width:17%;
    }
    header{
        gap:0%
    }
    .profile{
        display: none;
    }
    header input{
        /* border:2px solid green; */
        width:100%;
        /* max-width:104%;
        min-width:100%; */
        
    }
    header .input{
        margin-left:-1%;
        width:69%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border:2px solid green */
    }
}